* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	width: fit-content;
	height: fit-content;
	margin: 1rem auto;
	padding: 0;
	background-color: burlywood;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: min(80vw, 80vh);
	height: min(80vw, 80vh);
	border: 0.2rem solid black;
	/* font-size: 3rem; */
	/* justify-content: center; */
	/* align-items: center; */
}

.grid-items {
	border: 0.1rem solid gray;
	font-size: 2rem;
	background-color: white;
	/* text-align: center; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100%; */
	/* height: 100%; */
}

#box1,
#box3 {
	border-left: 3px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

#box1,
#box3,
#box5,
#box7,
#box13,
#box15 {
	border-right: 1px solid gray;
}

#box10,
#box11,
#box16 {
	border-top: 1px solid gray;
}

#box2,
#box4 {
	border-right: 3px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

#box5 {
	border-left: 3px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

#box6 {
	border-top: 3px solid black;
	border-right: 3px solid black;
}

#box7 {
	border-top: 3px solid black;
	border-left: 3px solid black;
}

#box8 {
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

#box10,
#box11 {
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

#box13,
#box15 {
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

#box14 {
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

#box16 {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}

.prompt {
	position: absolute;
	top: 0%;
	left: 0%;
	color: blue;
	font-size: 1.5rem;
}

.answer {
	width: 50%;
	height: 50%;
	text-align: center;
	color: red;
	font-size: 2rem;
}

.special {
	border: none;
	font-size: 2rem;
}

input {
	border: 1px solid gray;
	width: 80%;
	height: 80%;
}

@media (min-width: 475px) {
	html {
		font-size: 16px;
	}
}
